body{
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    /*background-image: url(Image/peinturet.png);*/
}
h1{
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    font-family: hel
    /*border-style: outset;*/
    /*border-color:white;*/
    
}
header{
    height: 150px;
}
header strong{
    color: white;
    border-width:2px;
    font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    /*border-style:outset;
    border-color:orange;
    background-color: orange;*/
    padding-left: 5px;
    padding-right: 5px;

}
footer{
    height: 35px;
    padding-top: 30px;
    text-align: center;
    background-color: orange;
    border-top: 2px solid #AAA;
    
}
nav{
    padding: 0; margin: 0;
    width: 100%;
    /*background: green;*/
    text-align: center;
    
}
nav ul{
    margin: 0px;
    padding: 0px;
}

nav li{
    display: inline;
    list-style-type: none;
    /* Mettre les éléments en lignes*/
    /*float: left;*/
    
}

nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    /*border-style: outset;*/
    background-color: orange;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
.table{
    display: table;
    margin: 0 auto;
}


#pres{
    color: black;
    border-width:2px;
 }
   
 
.nom{
    text-align: center;
    border-style: outset;
    background-color: white;
    float: left;
    width: 30%;
}

section div img{
    width: 50px;
    height: 50px;
    float: left;
    margin: 0px 10%;
}




h2{
    float: left;
    width: 30%;
}
 /* Contact */
 .contact{
    border-style: outset;
    background-color: white; 
 }
 
 section{
    width: 100%;
    min-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 10px;
 }
 
 .sec{ 
   margin: 0px 10%;
   /*background-image: url(Image/1.png); */
 }
 
 .left{
    float: left;
    width: 30%;
    text-align: center;
}

.right{
    margin: auto;
    float: left;
    width:70%;
    /*border-style: outset;
    background-color: white;*/
    text-align: center;
    /*background-image:url(Image/splash1.png);*/
    
}
 
.bienvenue{
    text-align: center;
}

div.photogauche { 
float: left; 
width: 100px;
height:75px;
margin-right:10px;
} 

.section{
    background-color: orange;
    width: 100%;
    min-height: 100px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.titre{
   /* border-style: outset;*/
  margin:15px;
  min-width:120px;
  border-bottom: 6px solid white;
    background-color: lightgrey;

  /*background-color:white;*/
  overflow:hidden;
  text-align:left
}


.textOverImage{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    margin:3px;
    background-size:100%;
    background-position: center;
    transition: 0.5s;
}

.textOverImage:hover{
    background-size:110%;
}

.textOverImage:after{
    position: absolute;
    top:100%;
    bottom:0;
    left:0;
    right:0;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    background-color: rgba(0,0,0,0,6);
    color: #fff;
    padding:0 8px;
    opacity:0;
    content:attr(data-text);
    transition: 0.5s;
    
}

.textOverImage:hover:after{
    opacity:1;
    top:0;
    padding: 8px;
}

.textOverImage:first-line{
    color:#fff;
    font-weight: bold;
    font-size: 1.5em;
}

td{
    border: 1px solid black;
    padding: 10px 15px;
}

table{
    border-collapse: collapse;
}

legend{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: orange;
}

input[type="submit"]{
    float:right;
    padding:10px;
    font-size:16px;
    color: orange;
    font-weight:bold;
    text-transform: uppercase;
    background-color: #grey;
    border-radius: 5px;
}

input[type="submit"]:hover{
    box-shadow: 0px 0px 3px #555;
    background-color: #e8ab2e;
}

/*.1 .2 .3{
    padding: 1. px 20 px;
    font-size: 16px;
}*/

.redi{
    width: 50%;
    height: 30%;
    margin: auto;
}


.logo {
    background-color: black;
    height: 30%;
}

.logo img{
    width: 50%;
    height: 30%;
    margin: auto;
}

.presentation{
    background-image: url(Image/1.png);
}

#o{
    float: left;
}
/*#hj{
    background-image:url(Image/peinture3.jpg);
}*/


 


/*@media screen and (max-width: 780px){
    header{
        height: 50px;
    }
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    nav li: hover a{
        padding: 5px 10px 10px 10px;
    }
}*/